{% extends "template_base.html" %}

{% block body %}{% endblock body %}
{% block contenido %}
    <ul>
    <h2 class="section-heading mb-4">
        <span class="site-heading-upper text-primary mb-3">
        <li>
            Clase: {{piedra.clase}} |
            </br>          
            Material: {{piedra.material}} |
            <br>
            Descripción: {{piedra.descripcion}} |
            </br>   
            Imagen: {% if request.piedra.imagen.url %}
            <img src="{{piedra.imagen.url}}" alt="Imagen de la Piedra" height="100" width="100"> |
            {% endif %}
        </br>
            Fecha: {{piedra.fecha}} |
        </br>       
        </li>
        </span>
    </h2>
    </ul>
{% endblock contenido %}
