{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Bienvenid@! Coralina Piedras</title>{% endblock title %}
</head>
<body>
    <nav>
        <a href={% url "inicio" %}>Inicio</a>
        <a href={% url "crear_piedra" %}>Crear Piedra</a>
        <a href={% url "listar_piedras" %}>Listar Piedras</a>
        <a href={% url "contacto" %}>Contacto</a>
    </nav>
    
    {% block formulario_creacion %}{% endblock formulario_creacion %}
    {% block formulario_listar %}{% endblock formulario_listar %}
    {% block contacto %}{% endblock contacto %}

</body>
</html> {% endcomment %}