{% extends "template_base.html" %}

{% block editar_perfil %}
<title> Editar Perfil </title>
<h1 class="site-heading-upper text-primary mb-3">Editar Perfil</h1>

<span class="site-heading-upper text-primary mb-3">
    <form action={%url "editar_perfil" %} method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{formulario}}
        <input type="submit" value="Confirmar Cambios">
    </form>
    <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href={% url "inicio" %}>Volver a inicio</a></li>
</span>
{% endblock editar_perfil %}